{% extends 'core/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}

    <div class="pb-6 grid grid-cols-5 gap-4 bg-gray-100 p-6">
        <div class="col-span-1">
            <form action="{% url 'item:search' %}" method="get">
                <input name="query" class="w-full py-4 px-6 border rounded-xl " type="search" value="{{ query }}" dir="rtl" placeholder="جست و جو کنید">

                <button class="mt-2 py-4 px-8 text-lg bg-green-500 rounded-xl text-white">گشتن</button>

                <hr class="my-6">
                <p class="text-center text-lg">دسته بندی‌ها</p>
                <ul>
                    {% for category in categories %}
                        <li class="py-2 px-2 rounded-xl {% if category.id == category_id %} bg-green-100{% endif %}">
                            <a href="{% url 'item:search' %}?query={{ query }}&category={{ category.id }} ">{{ category.name }} : {{ category.items.count }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="my-6">
                <p class="text-center text-lg">حذف فیلتر ها</p>
                <div class="text-center p-4 bg-red-300 mt-2 py-4 px-8 text-xl text-white rounded-xl">
                    <a href="{% url 'item:search' %}" class="text-center">حذف</a>
                </div>

            </form>
        </div>
        <div class="col-span-4">

            <div class="grid grid-cols-4 gap-4">
                {% for item in items %}
                    <div class="item">
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="">
                                <img src="{{ item.item_profile.url }}" alt="{{ item.name }}" class=" object-cover h-48 w-96  rounded-t-xl">
                            </div>
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-center text-xl ">{{ item.name }}</h2>
                                <p class=" text-center text-green-500">قیمت: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}